html {
  font-family: "fira-sans", sans-serif;
  color: #333;
}

body {
    width: 90%;
    margin: 0 auto;
    /* text-align: center; */
}

ul {
    width: 50%;
    /* margin: 0 auto; */
    padding: 1em;
}

li {
  cursor: pointer;
  /* background-color: red; */
  padding: 0.25em 0;
}

.finished {
  color:#ddd;
  text-decoration: line-through;
}
