:root{
  --warning: crimson;
}


html {
  font-family: "fira-sans", sans-serif;
  font-weight: 300;
  color: #333;
}

body {
    width: 90%;
    margin: 0 auto;
    /* text-align: center; */
}

ul {
    width: 300px;
    /* margin: 0 auto; */
    padding: 0;
}

li {
  cursor: pointer;
  /* background-color: red; */
  padding: 0.5em;
  margin: 0.5em 0;
  list-style: none;
  border: 1px solid #666;
  border-radius: 0.25rem;
}

.finished {
  color:#ddd;
  text-decoration: line-through;
}

.error {
  border: 1px solid var(--warning);
}

.task {
  margin: 0.5em;
}

.del {
  cursor: pointer;
  color: #ddd;
  float: right;
  background-color:white;
  border: none;
}

.del:hover{
  color: var(--warning);
}